<body>
    <div class="container-fluid">
        <div>
            <h1>
                About
            </h1>
        </div>
        <div>
            <h2>News</h2>
            <p>

            </p>
        </div>
    </div>
</body>

