<h1>Add a Contest</h1>
<form method="post" action="/contests">
    <label>Enter Contest ID ($GRAD_YEAR$NAME)</label>
    <input type="text" name="contestId" placeholder="Enter the contest's ID..." required>

    <input type="submit" value="Add Contest">
</form>