<div class="container-fluid">
    <h1>Add a Test</h1>
    <form name="add_test_form" action="{{prefix}}test/add" method="post">
        <label for="name">Test name</label>
        <input class="form-control" type="text" required id="name" name="name" autofocus="autofocus">
        <input class="btn btn-success" type="submit" value="Submit">
    </form>
    <a href="{{prefix}}officers"><button type="button" class="btn btn-secondary">Return to Officers Page</button></a>
</div>