<div class="container-fluid">
    <h1>Add an Announcement</h1>
    <form name="add_announcement_form" action="{{prefix}}announcement/add" method="post">
        <label for="title">Announcement Title</label>
        <input class="form-control" type="text" required id="title" name="title" autofocus="autofocus">
        <label for="body">Announcement Content</label>
        <textarea class="form-control" required id="body" name="body" rows="3"></textarea>
        <input class="btn btn-success" type="submit" value="Submit">
    </form>
    <a href="{{prefix}}officers"><button type="button" class="btn btn-secondary">Return to Officers Page</button></a>
</div>