<h1>Add a writer to a test</h1>
<form name="add_test_writer" action="{{prefix}}test/update/writer" method="post">
    <label for="testName">Test name</label>
    <input class="form-control" type="text" required id="testName" name="testName" autofocus="autofocus">
    <label for="username">Writer's Ion username</label>
    <input class="form-control" type="text" required id="username" name="username">
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
<a href="{{prefix}}officers"><button type="button" class="btn btn-secondary">Return to Officers Page</button></a>