<form name="add_officer_form" action="{{prefix}}add_officer" method="post">
    <label for="username">New officer's Ion username</label>
    <input class="form-control" type="text" id="username" name="username" autofocus="autofocus">
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
<a href="{{prefix}}officers"><button type="button" class="btn btn-primary">Return to Officers Page</button></a>