<body>
    <div class="container-fluid">
        <div>
            <h3>
                VMT Schedule
            </h3>
            <p>
                If there are any questions concerning the calendar, please email <a href="mailto:vmtofficers@gmail.com">vmtofficers@gmail.com</a>.
            </p>
        </div>
        <div>
            <p>
                <iframe src="https://calendar.google.com/calendar/embed?src=vmtofficers%40gmail.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </p>
        </div>
    </div>
</body>
