<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center"><img alt="TJ VMT" src="images/vmt_banner.png" class="img-responsive center-block"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                The Thomas Jefferson High School for Science and Technology Varsity Math Team is one of the most successful math teams in the nation. VMT members participate in many different events throughout the year.
            </p>

            <p>
                The majority of our events occur during the school day. We meet every Wednesday 8th period, plus certain days after school. At meetings we give lectures, hold practices, and participate in regional and national math contests. We also travel to compete in many prestigious math competitions. Any TJ student who enjoys math is welcome to join the team, regardless of skill level.
            </p>
            <p>
                If you have any questions, complaints, or suggestions regarding the website, please contact the statisticians.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>
                Announcements
            </h3>
            <p>
                Welcome to the new and improved VMT Website!
            </p>
            <p>
                Please log into the site; this is necessary for your test scores to be added and counted!
            </p>
            <p>
                This year, we will be using the <b> News </b> tab for announcements and updates as well as the Facebook group. Make sure to check that page regularly! More updates are coming soon to the website!
            </p>
            <p>
              Make sure to join our facebook group: <a href = "tinyurl.com/tjvmtfb">tjvmtfb</a> and stay tuned for updates.
            </p>
            <h4>
                2019-2020 VMT Achievements
            </h4>
            <p>
                Great job to all the teams who competed this last year. We placed 2nd in Duke, PUMaC, and CMIMC and in the top 10 at HMMT. Sadly, we were not able to defend our title at ARML due to the ongoing pandemic.
            </p>
            <p>
                Please contact the officers at vmtofficers@gmail.com if you have any questions.
            </p>
        </div>
    </div>
</div>
</body>
