<body>
    <section>
        <h1>TJHSST Varsity Math Team</h1>
    </section>
    <section>
        <h2>About</h2>
        <p>
            The Thomas Jefferson High School for Science and Technology Varsity Math Team is one of the most successful math teams in the nation. VMT members participate in many different events throughout the year.
        </p>
        <p>
            The majority of our events occur during the school day. We meet every Wednesday 8th period, plus certain days after school. At meetings we give lectures, hold practices, and participate in regional and national math contests. We also travel to compete in many prestigious math competitions. Any TJ student who enjoys math is welcome to join the team, regardless of skill level.
        </p>
        <p>
            If you have any questions, complaints, or suggestions regarding the website, please contact the statistician.
        </p>
    </section>
    <section>
        <h2>Officers</h2>
        {{#each officers}}
            <div>
                <img src="/images/i.png" alt="{{ name }}">
                <div class="officer-text">
                    <p>{{ position }}</p>
                    <p>{{ name }}</p>
                </div>
            </div>
        {{/each}}
    </section>
    <section>
        <h2>Contact Us</h2>
        <form action="" method="POST">
            <input type="text" placeholder="Name"/>
            <input type="email" placeholder="Email"/>
            <textarea cols="30" rows="10" placeholder="Message"></textarea>
        </form>
    </section>
</body>
