<div class="container-fluid">
    <h2>Login</h2>
    <form action="{{ prefix }}auth/login" method="POST">
        <input type="text" placeholder="Ion Username" name="ionUsername"/>
        <input type="password" placeholder="Password" name="password"/>
        <input type="submit" value="Log in">
    </form>
    <p>Don't have an account?</p>
    <a href="{{ prefix }}auth/register">Register Here</a>
</div>