<section class="flex flex-col items-center justify-center pt-24 mb-10">
    <h1 class="m-auto font-adam text-4xl gradient-text text-center">Monday Practice</h1>
    <p class="font-bold">4:10 PM - 6:00 PM @ TJHSST</p>
    <a 
        href="https://drive.google.com/drive/folders/1EJWop2g32qJgn_9cgHaCFJUv6eeH3TGX?usp=sharing"
        target="_blank"
        class="inline-block font-adam text-center text-l my-5 pt-3 pb-2 px-5 mx-4 rounded-full border-solid border-black border-2 hover:bg-gray-100">
    Lectures</a>
</section>
<section class="flex flex-col items-center justify-center">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>

    <h2 class="m-auto font-adam text-3xl gradient-text text-center">Problem of the Week</h2>
    <a 
        href="https://docs.google.com/forms/d/e/1FAIpQLScIvHE8KJ61tHlAfRA2D_dp5b-tNX0HaBCr4XKsFnzEFazA_g/viewform?usp=sf_link"
        target="_blank"
        class="block text-blue-500 hover:underline">
    Submit Here</a>
    <div class="m-5 px-5 py-3 shadow-md rounded-lg md:max-w-3xl">
        <h3 class="font-bold text-2xl">Week 3</h3>
        <p class="mb-5">10/04</p>
        <h4 class="italic text-xl">Novice</h4>
        <p class="my-4">For every subset \( T \) of \( U = \{1, 2, 3,\ldots , 18\} \), let \( s(T) \) be the sum of the elements of \( T \), with \( s(\varnothing ) \) defined to be \( 0 \). If \( T  \) is chosen at random among all subsets of \( U \), the probability that \( s(T) \) is divisible by \( 3 \) is \( \frac{m}{n} \), where \( m \) and \( n \) are relatively prime positive integers. Find \( m \).</p>
        <h4 class="italic text-xl">Advanced</h4>
        <p class="my-4">Solve \( \cos^2x+\cos^22x+\cos^23x=1 \).</p>
    </div>
    <div class="m-5 px-5 py-3 shadow-md rounded-lg md:max-w-3xl">
        <h3 class="font-bold text-2xl">Week 2</h3>
        <p class="mb-5">09/27</p>
        <h4 class="italic text-xl">Novice</h4>
        <p class="my-4">Tetrahedron \( ABCD \) has \( AD = BC = 28 \), \( AC = BD = 44 \), and \( AB = CD = 52 \). For any point \( X \) in space, suppose \( f(X) = AX + BX + CX + DX \). What is the least possible value of \( f(X) \)?</p>
        <h4 class="italic text-xl">Advanced</h4>
        <p class="my-4">Four circles, \( \omega \), \( \omega_A \), \( \omega_B \), and \( \omega_C \) with the same radius are drawn in the interior of triangle \( \Delta ABC \) such that \( \omega_A \) is tangent to sides \( AB \) and \( AC \), \( \omega_B \) to \( BC \) and \( BA \), \( \omega_C \) to \( CA \) and \( CB \), and \( \omega \) is externally tangent to \( \omega_A \), \( \omega_B \) and \( \omega_C \). If the sides of triangle \( \Delta ABC \) are \( 13 \), \( 14 \), and \( 15 \), the radius of \( \omega \) can be represented in the form \( \frac{m}{n} \), where \( m \) and \( n \) are relatively prime positive integers. Find \( m + n \).</p>
    </div>
    <div class="m-5 px-5 py-3 shadow-md rounded-lg md:max-w-3xl">
        <h3 class="font-bold text-2xl">Week 1</h3>
        <p class="mb-5">09/20</p>
        <h4 class="italic text-xl">Novice</h4>
        <p class="my-4">Let \(f(x) = x^2 + ax + b\). If for all nonzero real \( x \) \[ f\left(x+\frac{1}{x}\right) = f(x) + f\left(\frac{1}{x}\right) \] and the roots \( f(x) = 0 \) are integers, what is the value of \( a^2 + b^2 \)?</p>
        <h4 class="italic text-xl">Advanced</h4>
        <p class="my-4">Compute the 9 digit string \( x_1x_2x_3\dots x_8 \) such that \( x_i \) represents the number of times \( i \) appears in the string.</p>
    </div>
</section>