<div class="pt-24">
    <h1 class="m-auto pl-4 font-adam text-5xl gradient-text text-center">Officer</h1>
    <div id="react-container"></div>

    <script type="text/javascript" src="{{ prefix }}js/officer.js"></script>
</div>