<div class="container-fluid">
    <div class="row">
        <h3>
            Possible Operations
        </h3>
        <a href="add_officer"><button type="button" class="btn btn-link">Add Officer</button></a>
        <a href="remove_officer"><button type="button" class="btn btn-link">Remove Officer</button></a>
        <a href="add_score"><button type="button" class="btn btn-link">Add Score</button></a>
        <a href="add_test"><button type="button" class="btn btn-link">Add Test</button></a>
        <a href="add_contest"><button type="button" class="btn btn-link">Add Contest</button></a>
        <a href="update_indices"><button type="button" class="btn btn-link">Update Indices</button></a>
    </div>
</div>