<div class="container-fluid">
    <div class="row">
        <h3>
            Possible Operations
        </h3>
        <a href="add_officer"><button type="button" class="btn btn-primary">Add Officer</button></a>
        <a href="remove_officer"><button type="button" class="btn btn-primary">Remove Officer</button></a>
        <a href="add_test"><button type="button" class="btn btn-primary">Add Test</button></a>
        <a href="test/update_test/score"><button type="button" class="btn btn-primary">Add Score to Test</button></a>
        <a href="test/update_test/indices"><button type="button" class="btn btn-primary">Update Indices for Test</button></a>
        <a href="contest/add"><button type="button" class="btn btn-primary">Add Contest</button></a>
        <a href="contest/update/test"><button type="button" class="btn btn-primary">Add Test(s) to Contest</button></a>
        <a href="contest/update/indices"><button type="button" class="btn btn-primary">Update Ranks for Contest</button></a>
    </div>
</div>