<div class="container-fluid">
    <div>
        <p>
            <!--META CLUE: A popular American board game (6)-->
        </p>
    </div>
    <div>
        <h3 align="center">
            Johnway's Genome
        </h3>
        <i>
            <p>
                Renowned geneticist Con Johnway has recently passed, and his final message needs to be translated. Can you decode what it says?
            </p>

        </i>
    </div>

    <div>
        <p>
            CCAGCAUGUGCGCAGAAAGUGCUCGUAGCCAUAUCUUCACGAGUGAGGUGGAAAACAAUCACACUUUAGUAAUGAGCCCCAUGCUAUAGCACUGACC
        </p>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_abstracton"><button type="button" class="btn btn-link">Back</button></a>
        </div>
    </div>


</div>

