<div class="container-fluid">
    <div>
        <p>
            <!--META CLUE: A popular American board game (6)-->
        </p>
    </div>
    <div>
        <h3 align="center">
            Sesame's Travels
        </h3>
        <i>
            <p> The whole group is on holiday, and everyone is traveling abroad! Elmo wants to call all of his friends
                at the same time, but the time differences have shifted everyone's primary schedules. Almost everyone
                can make it to the call today, but someone is missing... who is it?
            </p>

        </i>
    </div>

    <div>
        <img alt="map" src="images/sesame/one.png" class="img-responsive center-block">
        <img alt="map" src="images/sesame/two.png" class="img-responsive center-block">
        <img alt="map" src="images/sesame/three.png" class="img-responsive center-block">
        <img alt="map" src="images/sesame/four.png" class="img-responsive center-block">
        <img alt="map" src="images/sesame/five.png" class="img-responsive center-block">
        <img alt="map" src="images/sesame/six.png" class="img-responsive center-block">
        <img alt="map" src="images/sesame/seven.png" class="img-responsive center-block">
        <img alt="map" src="images/sesame/eight.png" class="img-responsive center-block">
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_abstracton"><button type="button" class="btn btn-link">Back</button></a>
        </div>
    </div>


</div>

