<div class="container-fluid">
    <div>
        <p>
            <!--META CLUE: bayt muhtaraq lilhakmat, athnan-->
        </p>
    </div>
    <h3 align="center">
        Vacation Season
    </h3>
    <i>
        <p>
            Glued to this streetlight seems to be a brochure for island cruises from Deltopolis...
        </p>
    </i>

    <div style="text-align: center;">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">
                    <img alt="map" src="images/i.png" class="img-responsive center-block">
                </h4>
            </div>
        </div>
        <p>
            <b>Welcome to VMT Tours!</b> Our captain Ryan Lou has prepared a great assortment of islands and countries
            we're going to visit.
        </p>
        <p>
            For our first stop, we will be touring a region of islands. This region contains 4 main archipelagos, all
            of which have unique languages, religions, and groups of people. Although everything looks gorgeous, we'd
            recommend visiting sights such as Nan Madol and Leluh. Looking for something to eat? Try snacking on some
            Betel-Nut or Kelaguen. (10)
        </p>
        <p>
            This next region, whose name translates to ``Toucan's beak'', has a much different atmosphere. It's
            attracting thousands of new residents, and even starting work on its own hydropower resources. The
            vegetation is diverse - you'll find plenty of open fields of the Cerrado next to miles of rain forest
            canopy. (9)
        </p>
        <p>
            Next, we are travelling around one of the largest countries in terms of both size and population. Here you
            can spot thousands of different animal species, as it's considered a megadiverse country and is part of the
            Palearctic and the Indomalaya ecozones. As well as the variety in wildlife, here you can explore coniferous
            forests, rainforests, or some of the highest mountains in the world. You can also explore it's temples and
            cultural history, as it's considered one of the World's ancient civilizations. (5)
        </p>
        <p>
            Next, we are travelling to an island country with a similar name to a US territory. You can greet people
            from the second most populated Polynesian group in the world, and learn about their tattooing culture or
            fire dancing. Unfortunately, recently the country has been suffering from a measles outbreak. (5)
        </p>
        <p>
            Next, we're going to one of the top 5 largest islands of the world. The coasts are lined with swamp forests
            and more inland you can find rain forests and heath forests - despite conservation issues, one of its main
            industries is ecotourism. You can also find dozens of bird species, such as the Rhinoceros Hornbill or the
            Hook-billed Bulbul. (6)
        </p>
        <p>
            Next, we're visiting an island country of volcanic origin. This archipelago was discovered by Pedro
            Fernandes de Queirós, and its current name comes from a word that translates to ``home''. In rural areas,
            you can hear music played with idiophones, slit gongs, or stamping tubes, and spot rare animals such as
            types of flying fox or the giant East African land snail. However, this country was hit hard by a cyclone
            in 2015, and is frequently hit by earthquakes. (7)
        </p>
        <p>
            Finally, we're heading around an entire continent! Here, you won't be seeing too much water, as its coast
            is very flat without many divots. In terms of vegetation, the northern half is mainly desert, while in the
            south you can find jungles and savannas. This is a great place for seeing wildlife - in its plains, you can
            find large populations of wild herbivores, carnivores, and megafauna species. It's also easier to
            communicate with people, as it's one of the most multilingual places in the world. (6)
        </p>
        <p>
            <b>We hope you enjoy your experience!</b>
        </p>
    </div>
    <table style="width:100%">
        <tr>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
            <th>E</th>
            <th>F</th>
            <th>G</th>
            <th>H</th>
            <th>I</th>
            <th>J</th>
            <th>K</th>
            <th>L</th>
            <th>M</th>
            <th>N</th>
            <th>O</th>
            <th>P</th>
            <th>Q</th>
            <th>R</th>
            <th>S</th>
            <th>T</th>
            <th>U</th>
            <th>V</th>
            <th>W</th>
            <th>X</th>
            <th>Y</th>
            <th>Z</th>
        </tr>
        <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15</th>
            <th>16</th>
            <th>17</th>
            <th>18</th>
            <th>19</th>
            <th>20</th>
            <th>21</th>
            <th>22</th>
            <th>23</th>
            <th>24</th>
            <th>25</th>
            <th>26</th>
        </tr>    </table>
    <div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_deltopolis"><button type="button" class="btn btn-link">Back</button></a>
        </div>
    </div>


</div>

