<body>
<div class="container-fluid">
    <div>
        <h3 align="center">
            The Kingdom of Mathematica
        </h3>
        <i>
            <p>
                Welcome to the great Kingdom of Mathematica! You don't seem to be from around here... let me acquaint you
                with the lay of the land.
            </p>
            <p>
                Our kingdom is one of approximately 17 million people, split between two very large cities and our rather
                small capital city. Most people live either in Abstracton to the east, or in Deltapolis to the west. People
                have a great sense of pride about which city they live in.
            </p>
            <p>
                Recently, however, this pride has turned into civil unrest, and it has become increasingly more difficult
                for our central government to maintain a sense of of unity. The legends speak of a team of a travelers
                who will bring peace and unity back to our once-tranquil land. Will you be the one they foretold?
            </p>
        </i>
    </div>
</div>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">
                <img alt="map" src="images/finalpuzzlemap.png" class="img-responsive center-block">
            </h1>
        </div>
    </div>

<div style="text-align: center;">
    <a href="{{prefix}}puzzle_deltopolis"><button type="button" class="btn btn-link">Deltopolis</button></a>
    <button type="button" class="btn btn-link disabled">The Capital</button>
    <a href="{{prefix}}puzzle_abstracton"><button type="button" class="btn btn-link">Abstracton</button></a>
</div>
<div style="text-align: center;">
    <a href="{{prefix}}puzzle"><button type="button" class="btn btn-link">Back to Main Page</button></a>
</div>
</body>

