<div class="container-fluid">
    <div>
        <p>

        </p>
    </div>
    <div>
        <h3 align="center">
            The Capital
        </h3>
        <i>
            <p>
                 All issues resolved in the towns, What material could we import to bring peace to Mathematica?
            </p>

        </i>
    </div>

    <div>


    </div>


</div>