<div class="container-fluid">
    <div>
        <p>

        </p>
    </div>
    <div>
        <h3 align="center">
            Abstracton
        </h3>
        <i>
            <p>
                Welcome to the great city of Abstracton!
            </p>

        </i>
    </div>

    <div> <!-- city map here -->
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_abstractmeta"><button type="button" class="btn btn-link">METAPUZZLE: title needed</button></a>
        </div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_noether"><button type="button" class="btn btn-link">The Supreme Law of the Land</button></a>
        </div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_nash"><button type="button" class="btn btn-link">Johnway's Genome</button></a>
            <a href="{{prefix}}puzzle_pascal"><button type="button" class="btn btn-link">Sesame's Travels</button></a>
        </div>
    </div>


</div>