<div class="container-fluid">
    <div>
        <p>
            <!--META CLUE: Nebraskan terrain (1)-->
        </p>
    </div>
    <div>
        <h3 align="center">
            Red, White, and Blue
        </h3>
        <i>
            <p>
                Help! People in tons of different locations have lost friends and different personal items! Given the
                information, can you help find them? It always helps to look for red, white, and blue.
            </p>
            <p>

            </p>
        </i>
    </div>
   <div>
       <p>
           <b>Location:</b> In town <br />
           <b>Last seen location of friend:</b> To the right of a green car <br/>
           <b>Last seen location of object:</b> Behind a man with a cane <br/>
       </p>
   </div>
    <div>
        <p>
            <b>Location:</b> The beach <br />
            <b>Last seen location of friend:</b> Behind a red umbrella <br/>
            <b>Last seen location of object:</b> On the ground near a group of children
            <br/>
        </p>
    </div>
    <div>
        <p>
            <b>Location:</b> Ski slopes <br />
            <b>Last seen location of friend:</b> Behind two men with blonde hair <br/>
            <b>Last seen location of object:</b> Near a man holding many flags
            <br/>
        </p>
    </div>
    <div>
        <p>
            <b>Location:</b> Camp Site <br />
            <b>Last seen location of friend:</b> Between a triangular and a square tent, with the triangular tent to the left
            <br/>
            <b>Last seen location of object:</b> Near a man with tea being poured on him
            <br/>
        </p>
    </div>
    <div>
        <p>
            <b>Location:</b> Train Station <br />
            <b>Last seen location of friend:</b> Near a man sitting on a suitcase <br/>
            <b>Last seen location of object:</b> In front of a group of cows
            <br/>
        </p>
    </div>
    <div>
        <p>
            <b>Location:</b> Airport <br />
            <b>Last seen location of friend:</b> Near a red truck <br/>
            <b>Last seen location of object:</b> In between two smokers
            <br/>
        </p>
    </div>
    <div>
        <p>
            <b>Location:</b> Stadium <br />
            <b>Last seen location of friend:</b> Behind an elephant <br/>
            <b>Last seen location of object:</b> Near the same elephant
            <br/>
        </p>
    </div>
    <div>
        <p>
            <b>Location:</b> Museum  <br />
            <b>Last seen location of friend:</b> Behind an egyptian exhibit <br/>
            <b>Last seen location of object:</b> Near a man with green pants
            <br/>
        </p>
    </div>
    <div>
        <p>
            <b>Location:</b> The Sea <br />
            <b>Last seen location of friend:</b> Near someone diving <br/>
            <b>Last seen location of object:</b> To the right of a seasick sailor
            <br/>
        </p>
    </div>
    <div>
        <p>
            <b>Location:</b> Safari <br />
            <b>Last seen location of friend:</b> Near a man with a monocle  <br/>
            <b>Last seen location of object:</b> Under a cub with a hat
            <br/>
        </p>
    </div>
    <div>
        <p>
            <b>Location:</b> Department Store <br />
            <b>Last seen location of friend:</b> Near a chair with green clothing hanging from it <br/>
            <b>Last seen location of object:</b> Near a hat display
            <br/>
        </p>
    </div>
    <div>
        <p>
            <b>Location:</b> Fair <br />
            <b>Last seen location of friend:</b> Behind a coin machine <br/>
            <b>Last seen location of object:</b> Near a band
            <br/>
        </p>
    </div>
    <div>
        <p>
            <br/>
        </p>
    </div>
    <div>
        <p>
            <b>Location:</b> Fairytale Display <br />
            <b>Last seen location of friend:</b> Near a wolf in a suit <br/>
            <b>Last seen location of object:</b>  Near a man with a shield and a gnome <br/>
        </p>
    </div>
    <div>
        <p>
            <b>Location:</b> Fruit Fight <br />
            <b>Last seen location of friend:</b> To the right of a chicken <br/>
            <b>Last seen location of object:</b> Near a cowboy banana
            <br/>
        </p>
    </div>
    <div>
        <p>
            <b>Location:</b> A large game <br />
            <b>Last seen location of friend:</b> Near pictures of flowers <br/>
            <b>Last seen location of object:</b> Under contestant 512
            <br/>
        </p>
    </div>
    <div>
        <p>
            <b>Location:</b> Toyland <br />
            <b>Last seen location of friend:</b> Near a rocking horse <br/>
            <b>Last seen location of object:</b>  Under an alien
            <br/>
        </p>
    </div>
    <div>
        <p>
            <b>Location:</b> Lighthouses <br />
            <b>Last seen location of friend:</b> Above a spiky dragon
            <br/>
            <b>Last seen location of object:</b> Under crisscrossing pipes
            <br/>
        </p>
    </div>
    <div>
        <p>
            <b>Location:</b> Cake Factory <br />
            <b>Last seen location of friend:</b> Behind a giant cake <br/>
            <b>Last seen location of object:</b> On a table
            <br/>
        </p>
    </div>
    <div>
        <p>
            <b>Location:</b> Band Competition <br />
            <b>Last seen location of friend:</b> Behind a drummer in a bear mask <br/>
            <b>Last seen location of object:</b> Behind people in elephant masks covering their ears
            <br/>
        </p>
    </div>
    <div>
        <p>
            <b>Location:</b> The Swamp <br />
            <b>Last seen location of friend:</b> Behind two spears and someone carrying a package <br/>
            <b>Last seen location of object:</b> Under someone wearing a yellow hat
            <br/>
        </p>
    </div>
    <div>
        <p>
            <b>Location:</b> Town of Clowns  <br />
            <b>Last seen location of friend:</b> Behind a red and white polka-dotted top hat <br/>
            <b>Last seen location of object:</b> Under someone getting sprayed and near a watering can

            <br/>
        </p>
    </div>
    <div>
        <p>
            <b>Location:</b> Flower Garden <br />
            <b>Last seen location of friend:</b> Near someone wearing white and orange pulling up a flower<br/>
            <b>Last seen location of object:</b> Near a hole in a hedge with water being sprayed into it
            <br/>
        </p>
    </div>
    <div>
        <p>
            <b>Location:</b> Halls of Time <br />
            <b>Last seen location of friend:</b> Behind a woman and in front of a man with a very tall top hat <br/>
            <b>Last seen location of object:</b> Near a man with a very very very tall top hat
            <br/>
        </p>
    </div>
    <div>
        <p>
            <b>Location:</b> Land of Dogs <br />
            <b>Last seen location of friend:</b> To the right of someone holding a magnifying glass <br/>
            <b>Last seen location of object:</b> Near a man carrying a hat suit
            <br/>
        </p>
    </div>
    <div>
        <table style="width:20%" align="center">
            <tr>
                <th>A</th>
                <th>F</th>
                <th>K</th>
                <th>P</th>
                <th>U</th>
            </tr>
            <tr>
                <th>B</th>
                <th>G</th>
                <th>L</th>
                <th>Q</th>
                <th>V</th>
            </tr>
            <tr>
                <th>C</th>
                <th>H</th>
                <th>M</th>
                <th>R</th>
                <th>W</th>
            </tr>
            <tr>
                <th>D</th>
                <th>I</th>
                <th>N</th>
                <th>S</th>
                <th>X</th>
            </tr>
            <tr>
                <th>E</th>
                <th>J</th>
                <th>O</th>
                <th>T</th>
                <th>Y</th>
            </tr>
        </table>
    </div>
    <div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_abstracton"><button type="button" class="btn btn-link">Back</button></a>
        </div>
    </div>


</div>



