<div class="container-fluid">
    <div>
        <p>
            <!--META CLUE: nyrsta höfuðborg heims, þrjú-->
        </p>
    </div>
    <h3 align="center">
        The &#127345;ginning &#127345;gins
    </h3>
    <div style="text-align: center;">

            <p>
                This is the first of several streetlights that require some sort of puzzle to fix, one that will
                &#127345;m&#127345;ozle your &#127345;ains and &#127345;ow your mind...
            </p>

        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">
                    <img alt="map" src="images/bsearch.png" class="img-responsive center-block">
                </h4>
            </div>
        </div>

    </div>
    <div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_deltopolis"><button type="button" class="btn btn-link">Back</button></a>
        </div>
    </div>


</div>

