<div class="container-fluid">
    <div>
        <p>
            <!--META CLUE: Court's standing (1)-->
        </p>
    </div>
    <div>
        <h3 align="center">
            Schoolhouse Rock
        </h3>
        <i>
            <p>
                At Abstracton High School, a map of local middle schools that feed into it is hung on a wall in the lobby.
                Written in at the bottom is a work in the place of the map's legend - almost as helpful for reading the
                map as a piece of poetry...
            </p>
            <div style="text-align: center;">
                <a href="https://drive.google.com/open?id=1Mvg90UaAFfd5Xmcy866rFYSKZ7xGBqIR&usp=sharing">CLICK ME FOR THE MAP</a>
            </div>
            <p>

            </p>
        </i>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">
                <img alt="map" src="images/schoolhouse.png" class="img-responsive center-block">
            </h4>
        </div>
    </div>
    <div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_abstracton"><button type="button" class="btn btn-link">Back</button></a>
        </div>
    </div>


</div>



