<div class="container-fluid">
    <div>
        <p>

        </p>
    </div>
    <div>
        <h3 align="center">
            Heart of the City
        </h3>
        <i>
            <p>
                People from nations around the world are united here in Deltopolis. If you happen to talk to the
                Deltopolites you meet, you'll find that many residents here are have lived in cities before and have a
                way of keeping everything in order. If it's one thing all Deltopolites do, though, they love to...
            </p>

        </i>
    </div>

    <div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_deltopolis"><button type="button" class="btn btn-link">Back</button></a>
        </div>

    </div>


</div>

