<div class="container-fluid">
    <div>
        <h1 align="center">
            TJ VMT Puzzle Hunt 2020 Rules
        </h1>

        <div style="text-align: center;">
            <i>This is not a puzzle. </i>
        </div>
        <h3>
            Teams and Resources
        </h3>
        <p>
            Teams may compete with up to 4 members to solve puzzles. Team members can use any non-living resource when solving,
            i.e. books, databases, or search engines, but may not ask people outside of their team for help solving a puzzle,
            in the spirit of competition. Please designate one member of your team as the <i>captain</i>, the person responsible
            for receiving emails from us regarding your team's submissions.
        </p>
        <h3>
            Puzzles and Structure
        </h3>
        <p>
           There are two kinds of puzzles in this hunt: (regular) puzzles and meta-puzzles. Regular puzzles will require
            a team to extract an English word or phrase from some set of assorted clues, and unlike previous years,
            answers may not necessarily be a single word or have a fixed length. Meta-puzzles obey the same rules, but
            require answers to multiple previously-solved puzzles in order to complete them. <b>Completion of a
            meta-puzzle does not necessarily require one to solve all of the puzzles that feed into it.</b>
        </p>
        <p>
            There are two sets of puzzles, each containing a meta-puzzle. Puzzles within each set will be
            unlocked over time, either as a team progresses or at specific intervals. The answers to all the puzzles
            will need to be ascertained in order to complete the final meta-puzzle.
        </p>
        <h3>
            Submissions and Scoring
        </h3>
        <p>
            <b>Puzzles no longer have an attached score.</b> In years past, we have attached point values to puzzles
            and maintained a leaderboard to inform all teams of their progress and which puzzles they solved correctly,
            but we will now inform teams of their correct submissions directly by emailing each team's captain.
        </p>
        <p>
            Teams can submit an arbitrarily large number of times for a puzzle until they deduce the correct answer. The
            number of submissions on a puzzle is not directly relevant to a team's standing, but if a team decides to
            submit a large volume of answers in a very short span of time, we reserve the right to not inform teams
            whether those answers are correct.
        </p>
        <h3>
            Questions, Hints and Clarifications
        </h3>
        <p>
            Clarifications and questions can be asked at any time on any puzzle, but please direct them to
            <b>vmtpuzzlehunt2020@gmail.com</b>, an email created specifically for the Hunt (as to avoid spam). You will also
            receive feedback on your submissions from this email account. Hints may be asked on a puzzle 24 hours after
            the official release of that puzzle, without incurring any sort of penalty, but please direct your hint
            requests to the above email as well. You may ask for hints as many times as you want for any particular puzzle,
            but you have to tell us your progress and anything you may have tried.
        </p>
        <h3>
            Prizes
        </h3>
        <p>
            The winning team is the first team that successfully answers the Final Metapuzzle, and prizes will be
            awarded to this team! If your team wins, we will reach out to you directly as to how to claim your prize.
        </p>
    </div>
    <div style="text-align: center;">
        <a href="{{prefix}}puzzle"><button type="button" class="btn btn-link">Back to Main Page</button></a>
    </div>
</div>