<div class="container-fluid">
    <div>
        <p>
    <!-- there's nothing for you here... but you should look in this same spot in the HTML for the other puzzles in this town!-->
        </p>
    </div>
    <div>
        <h3 align="center">
            Heart of the Town
        </h3>
        <i>
            <p>
                It seems that Abstractonians like big ideas and always have the right number of words for the things
                they want to say, but they often leave their plans unfinished. Upon closer inspection, however, when
                it's time to put on a level head and traverse a pragmatic train of thought, they are very good at ...
            </p>

        </i>
    </div>

    <div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_abstracton"><button type="button" class="btn btn-link">Back</button></a>
        </div>

    </div>


</div>

