<div class="container-fluid">
    <div>
        <h1 align="center">
            TJ VMT Puzzle Hunt 2020
        </h1>

        <div style="text-align: center;">
            <i>This is not a puzzle. </i>
        </div>
        <p>
            Welcome to Varsity Math Team's 2020 Puzzle Hunt! This year we have moved the Hunt fully online, and puzzles
            will now be posted here, on our revamped website, instead of being sent via email or posted in the Facebook
            group. We've taken advantage of some of the mechanics of being on a website when designing puzzles, and we're
            excited for you all to experience this new feel!
        </p>
        <p>
            The Hunt will begin on February 26th, 2020, at the start of B Block, when the first puzzles will be made
            live. Make sure to register your teams below and <i>read the rules</i> before this time! There have been
            some changes from previous years' hunts.
        </p>
        <p>
            Happy puzzling!
        </p>
    </div>

    <div style="text-align: center;">
        <a href="{{prefix}}puzzle_rules"><button type="button" class="btn btn-primary">Rules</button></a>
        <a href="https://tinyurl.com/hunt2020registration"><button type="button" class="btn btn-primary">Registration</button></a>
        <a href="{{prefix}}puzzle_map"><button type="button" class="btn btn-primary">Enter the Hunt!</button></a>
<!--        <button type="button" class="btn btn-primary disabled">Enter the Hunt!</button>-->
        <a href="https://tinyurl.com/hunt2020submissions"><button type="button" class="btn btn-primary">Submissions</button></a>
        <a href="{{prefix}}puzzle_results"><button type="button" class="btn btn-primary">Results</button></a>
    </div>

</div>