<div class="container-fluid">
    <div>
        <h1 align="center">
            TJ VMT Puzzle Hunt 2020
        </h1>

        <div style="text-align: center;">
                This is not a puzzle.
        </div>
        <p>
            Welcome to VMT's 2020 Puzzle Hunt! This year we have moved the Hunt fully online, and puzzles will now be
            posted here instead of via email or in the Facebook group. As always, happy puzzling!
        </p>
    </div>

</div>