<div class="container-fluid">
    <div>
        <p>
            <!--META CLUE: asali sansanin yaki ne mai suna Eko, biyu -->
        </p>
    </div>
    <div>
        <h3 align="center">
            Go With The Flow
        </h3>
        <i>
            <p>
                At this lamppost, you notice a list of clues. While it’s easy to see the little details in each
                hint, in order to beat this puzzle you might want to figure out the big picture... remember, when in
                doubt, it’s always best to go with what’s the most well known.
            </p>
            <p>

            </p>
        </i>
    </div>
    <p><b>Popular Marshmallow Chick Candy (4) S</b></p>

    <p><b>First name of celebrity with a popular E! Network show that people keep up with (3) U</b></p>

    <p><b>Nickname of basketball center player who played for the Magic and the Lakers (4) F</b></p>

    <p><b>Cousin in the novel The Children of Men (3) R</b></p>

    <p><b>With “hokey,” a dance (5) R</b></p>

    <p><b>Humorous wordplay involving the use of multiple meanings of words (3) O</b></p>

    <p><b>Title of a 2009 song with a very disliked music video (4) N</b></p>

    <p><b>First name of bartender in The Simpsons (3) M</b></p>

    <p><b>Lift weights, with “iron,” (4) A</b></p>

    <p><b>Walk in a leisurely manner, with “along” (5) M</b></p>

    <p><b>Surname of Knute Rockne, All American character played by someone who is famous for a lot more than just acting (4) W</b></p>

    <p><b>To become very angry or excited, with “out” (4) E</b></p>

    <p><b>Champion with Nimble Fighter in League of Legends (4) O</b></p>

    <p><b>Manservant in show about a creepy and kooky family (5) O</b></p>

    <p><b>Nickname of Bale boxing character (5) F</b></p>

    <p><b>Keehl nickname (5) R</b></p>

    <p><b>Name for a hyena in a well-known animated movie (2) C</b></p>

    <p><b>Buteo jamaicensis bird type (4) E</b></p>

    <p><b>Last name of superhero with headquarters in a cave underneath his mansion (5) R</b></p>

    <p><b>Southern Maryland Heating, Air and Oil Company acronym (3) S</b></p>

    <p><b>Woof! (3 3) A</b></p>

    <p><b>Shark character from a 2003 animated film (5) P</b></p>

    <p><b>First name of Redskins safety who passed away in 2007 (4) T</b></p>

    <p><b>Sieged city in the Iliad (4) P</b></p>

    <p><b>Jenny Han Novel (4) E</b></p>

    <p><b>City with the motto “Think Inside the Triangle” (5) E</b></p>

    <p><b>With “dark,” 2013 horror movie about alien abduction (5) R</b></p>

    <p><b>Nickname of titular canine character in mystery TV show (5) R</b></p>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">
                <img alt="map" src="images/flow.png" class="img-responsive center-block">
            </h1>
        </div>
    </div>

    <div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_deltopolis"><button type="button" class="btn btn-link">Back</button></a>
        </div>
    </div>


</div>



