<div class="container-fluid">
    <div>
        <p>
            <!--META CLUE: he pa nui i roto i te whenua wareware, e rima-->
        </p>
    </div>
    <div>
        <h3 align="center">
            Spot the Difference
        </h3>
        <i>
            <p>
                Near this streetlight, you see a strange art auction. Most items seem normal and insignificant,
                but with a few items, you feel signs that there might be something unusual... perhaps the key is to
                find the differences.
            </p>
        </i>
    </div>
    <h6>
        Item #1:
    </h6>
    <div class="row">
        <div class="col-md-12">
            <div>
                <img alt="map" src="images/art/one.png" class="img-responsive center-block">
            </div>
        </div>
    </div>
    <div>
        <p>

        </p>
    </div>
    <h6>
        Item #3:
    </h6>
    <div class="row">
        <div class="col-md-12">
            <div>
                <img alt="map" src="images/art/three.png" class="img-responsive center-block">
            </div>
        </div>
    </div>
    <div>
        <p>

        </p>
    </div>
    <h6>
        Item #5:
    </h6>
    <div class="row">
        <div class="col-md-12">
            <div>
                <img alt="map" src="images/art/five.png" class="img-responsive center-block">
            </div>
        </div>
    </div>
    <div>
        <p>

        </p>
    </div>
    <h6>
        Item #6:
    </h6>
    <div class="row">
        <div class="col-md-12">
            <div>
                <img alt="map" src="images/art/six.png" class="img-responsive center-block">
            </div>
        </div>
    </div>
    <div>
        <p>

        </p>
    </div>
    <h6>
        Item #8:
    </h6>
    <div class="row">
        <div class="col-md-12">
            <div>
                <img alt="map" src="images/art/eight.png" class="img-responsive center-block">
            </div>
        </div>
    </div>
    <div>
        <p>

        </p>
    </div>
    <h6>
        Item #9:
    </h6>
    <div class="row">
        <div class="col-md-12">
            <div>
                <img alt="map" src="images/art/nine.png" class="img-responsive center-block">
            </div>
        </div>
    </div>
    <div>
        <p>

        </p>
    </div>
    <h6>
        Item #10:
    </h6>
    <div class="row">
        <div class="col-md-12">
            <div>
                <img alt="map" src="images/art/ten.png" class="img-responsive center-block">
            </div>
        </div>
    </div>
    <div>
        <p>

        </p>
    </div>
    <h6>
        Item #12:
    </h6>
    <div class="row">
        <div class="col-md-12">
            <div>
                <img alt="map" src="images/art/twelve.png" class="img-responsive center-block">
            </div>
        </div>
    </div>
    <div>
        <p>

        </p>
    </div>
    <h6>
        Item #15:
    </h6>
    <div class="row">
        <div class="col-md-12">
            <div>
                <img alt="map" src="images/art/fifteen.png" class="img-responsive center-block">
            </div>
        </div>
    </div>
    <div>
        <p>

        </p>
    </div>
    <h6>
        Item #16:
    </h6>
    <div class="row">
        <div class="col-md-12">
            <div>
                <img alt="map" src="images/art/sixteen.png" class="img-responsive center-block">
            </div>
        </div>
    </div>
    <div>
        <p>

        </p>
    </div>
    <h6>
        Item #17:
    </h6>
    <div class="row">
        <div class="col-md-12">
            <div>
                <img alt="map" src="images/art/seventeen.png" class="img-responsive center-block">
            </div>
        </div>
    </div>
    <div>
        <p>

        </p>
    </div>
    <h6>
        Item #18:
    </h6>
    <div class="row">
        <div class="col-md-12">
            <div>
                <img alt="map" src="images/art/eighteen.png" class="img-responsive center-block">
            </div>
        </div>
    </div>
    <div>
        <p>

        </p>
    </div>
    <h6>
        Item #19:
    </h6>
    <div class="row">
        <div class="col-md-12">
            <div>
                <img alt="map" src="images/art/nineteen.png" class="img-responsive center-block">
            </div>
        </div>
    </div>
    <div>
        <p>

        </p>
    </div>
    <h6>
        Item #21:
    </h6>
    <div class="row">
        <div class="col-md-12">
            <div>
                <img alt="map" src="images/art/twentyone.png" class="img-responsive center-block">
            </div>
        </div>
    </div>
    <div>
        <p>

        </p>
    </div>
    <h6>
        Item #25:
    </h6>
    <div class="row">
        <div class="col-md-12">
            <div>
                <img alt="map" src="images/art/twentyfive.png" class="img-responsive center-block">
            </div>
        </div>
    </div>
    <div>
        <p>

        </p>
    </div>
    <h6>
        Item #36:
    </h6>
    <div class="row">
        <div class="col-md-12">
            <div>
                <img alt="map" src="images/art/thirtysix.png" class="img-responsive center-block">
            </div>
        </div>
    </div>
    <div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_deltopolis"><button type="button" class="btn btn-link">Back</button></a>
        </div>
    </div>


</div>

