<div class="container-fluid">
    <div>
        <p>
            <!--META CLUE: llamado así por la patrona de Cerdeña, diez -->
        </p>
    </div>
    <div>
        <h3 align="center">
            Primary
        </h3>
        <i>
            <p>
                At this streetlight, you find yourself staring at a group of intersecting colored rectangles. Confused,
                you try to find things that look right...
            </p>
            <p>

            </p>
        </i>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">
                <img alt="map" src="images/primary.png" class="img-responsive center-block">
            </h1>
        </div>
    </div>
    <div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_deltopolis"><button type="button" class="btn btn-link">Back</button></a>
        </div>
    </div>


</div>



