<div class="container-fluid">
    <div>
        <p>

        </p>
    </div>
    <div>
        <h3 align="center">
            The Capital
        </h3>
        <i>
            <p>
                Many of the issues in the towns having now been resolved, it's time to finally figure out how to unite
                the towns one and for all. If we find and CLASSIFY the SUBJECTS of the problems and use a little of
                periodical magic, we can find what we need to unite the country once and for all...
            </p>
        </i>
    </div>

    <div>
        <table style="width:40%" align="center">
            <tr>
                <th>Zirconium (4)</th>
                <th>Protactinium (9)</th>
            </tr>
            <tr>
                <th>Phosphorus (3)</th>
                <th>Indium (1)</th>
            </tr>
            <tr>
                <th>Sulfur (3)</th>
                <th>Boron (6)</th>
            </tr>
            <tr>
                <th>Ruthenium (4)</th>
                <th>Zinc (7)</th>
            </tr>
            <tr>
                <th>Arsenic (2)</th>
                <th>Magnesium (5)</th>
            </tr>
            <tr>
                <th>Erbium (6)</th>
                <th>Selenium (5)</th>
            </tr>
            <tr>
                <th>Sodium (3)</th>
                <th>Molybdenum (1)</th>
            </tr>
            <tr>
                <th>Cerium (5)</th>
                <th>Oxygen (4)</th>
            </tr>
        </table>
    </div>
    <div style="text-align: center;">
        <a href="{{prefix}}puzzle_map"><button type="button" class="btn btn-link">Back to Map</button></a>
    </div>

</div>