<div class="container-fluid">
    <div>
        <h1 align="center">
            TJ VMT Puzzle Hunt 2020 Results and Winners
        </h1>

        <div style="text-align: center;">
            <i>This is not a puzzle. </i>
        </div>
        <p>
            At 12:30 PM on March 27, 2020, <b>Team Bonk Bonk (Kevin Zhang)</b> submitted the final answer to <i>The Capital</i>
            and won VMT Puzzle Hunt 2020.
        </p>
        <p>
            Submissions will still remain open and we will continue to respond to them, but after a while we will close
            submissions and post solutions on the site.
        </p>
        <p>
            <b>Statistics:</b> <br>
            Over the course of about a month, 16 teams solved 36 puzzles. 10 teams submitted answers and 8 teams solved
            at least one puzzle. "The Beginning Begins" was the most solved puzzle (with 7 solves), as well as having
            the most submissions. "Vacation Season" had the most incorrect submissions (with 5 incorrect answers).
        </p>
        <p>
            No matter if you solved all the puzzles or none of the puzzles, we hope you had a good time doing the Puzzle
            Hunt! We hope to see you again next year!
        </p>
    </div>
    <div style="text-align: center;">
        <a href="{{prefix}}puzzle"><button type="button" class="btn btn-primary">Back to Main Page</button></a>
    </div>

</div>