<div class="container-fluid">
    <div>
        <p>
            <!--META CLUE: Athenian thought (7)-->
        </p>
    </div>
    <div>
        <h3 align="center">
            The Supreme Law of the Land
        </h3>
        <i>
            <p>
                At Abstracton City Hall, you observe these assorted articles and slapdash sections of legal text.
                This isn't National Treasure, but they seem to be a very old code, from a place which democracy began...
                <!--... and if you're smart enough to have found this hint, you should seek a square from Democleitus and Cleoxenus.-->
            </p>

        </i>
    </div>

    <div>
        <p>
            The President, Vice President and all civil Officers of the United States, shall be removed from Office on
            Impeachment for, and Conviction of, Treason, Bribery, or other high Crimes and Misdemeanors.
        </p>
        <p>
            The Times, Places and Manner of holding Elections for Senators and Representatives, shall be prescribed in
            each State by the Legislature thereof; but the Congress may at any time by Law make or alter such
            Regulations, except as to the Places of chusing Senators.
        </p>
        <p>
            Each House shall be the Judge of the Elections, Returns and Qualifications of its own Members, and a
            Majority of each shall constitute a Quorum to do Business; but a smaller Number may adjourn from day to day,
            and may be authorized to compel the Attendance of absent Members, in such Manner, and under such Penalties
            as each House may provide.
        </p>
        <p>
            All legislative Powers herein granted shall be vested in a Congress of the United States, which shall
            consist of a Senate and House of Representatives.
        </p>
        <p>
            The judicial Power of the United States, shall be vested in one supreme Court, and in such inferior Courts
            as the Congress may from time to time ordain and establish. The Judges, both of the supreme and inferior
            Courts, shall hold their Offices during good Behaviour, and shall, at stated Times, receive for their
            Services, a Compensation, which shall not be diminished during their Continuance in Office.
        </p>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_abstracton"><button type="button" class="btn btn-link">Back</button></a>
        </div>
    </div>


</div>

