<div class="container-fluid">
    <div>
        <p>
            <!--META CLUE: First attempt to make tea in a harbor, six -->
        </p>
    </div>
    <div>
        <h3 align="center">
            Rolling Initiative
        </h3>
        <i>
            <p>
                This streetlight has a transcript of some kind glued to it:
            </p>
        </i>
            <p>
                ... <br>
                <b>Dungeon Master:</b> You see a farm in the distance. Your cart slowly trundles up to the main farmhouse. To
                the side and in front of the farmhouse, you see a few of these fields with corn and livestock. Do you
                guys go up to the farmhouse to introduce yourselves to the farmer who asked for the job? <br>
                <b>Bernard:</b> Yeah. I walk up to the farmhouse. <br>
                <b>DM:</b> Cool. Who’s going up to the farmhouse with Bernard? <br>
                <b>Ezra:</b> I walk up with Bernard. <br>
                <b>DM:</b> Okay. What’s everyone else doing in the meantime? <br>
                <b>Carill:</b> I’m going to go watch some of the cows over at a nearby field. <br>
                <b>Fendor:</b> I’ll go with Carill. <br>
                <b>Ariel:</b> I’m going to stay behind and watch over the cart and make sure nobody tries to steal or like,
                mess with the cart. <br>
                <b>DM:</b> Make a Perception check for me, please. <br>
                <b>Ariel:</b> <b>*rolls*</b> Well, that’s gonna be a 1. <br>
                <b>DM:</b> You try to keep watch, looking around for anyone approaching, but you end up getting distracted by
                a small patch of aging dandelions and you begin to blow their seedlings into the wind. Let’s cut
                over to Ezra and Bernard. What do you guys do as you walk up to the farmhouse’s door? <br>
                <b>Bernard:</b> I knock on the door. <br>
                <b>DM:</b> The door opens, and you see a farmer maybe in his late 30s/early 40s open the door. This is Halbert
                Conolly, and he’s wearing a pair of overalls and a plaid yellow-and-black shirt. He’s got bags under
                his eyes, probably because he hasn’t gotten much sleep due to his wolf problem. What do you guys say
                to him as he opens the door? <br>
                <b>Bernard:</b> Hi! We’re the party of adventurers who’re gonna deal with your wolf problem. You’ve got
                the money for us? <br>
                <b>DM:</b> Make a Charisma check for me, please. <br>
                <b>Bernard:</b> <b>*rolls*</b> That’s not great. 6? <br>
                <b>DM:</b> You see Halbert looking nervous at your party’s presence. <br>
                <b>Erza:</b> *to the DM* I’m gonna try to persuade him we’re alright? <br>
                <b>DM:</b> Make a Persuasion check for me. <br>
                <b>Erza:</b> <b>*rolls*</b> 14. <br>
                <b>DM:</b> Good, cuz the DC wasn’t supposed to be that high. You put him at ease. In the meantime, let’s
                see what Carill and Fendor are up to. <br>
                <b>Carill:</b> I want to go into the cow field. <br>
                <b>DM:</b> Okay! There’s a gate about 90 or so feet away, and you can open it and wander amongst the cows. <br>
                <b>Fendor:</b> I open it for myself and Carill, and I want to get a cow friend. <br>
                <b>DM:</b> Okay, uh… what are you gonna do about it? <br>
                <b>Fendor:</b> I’m going to try to grapple a cow and pick it up. <br>
                <b>DM:</b> Uh… you’re going to have to make an opposed athletics check. This cow has a +4 to the roll, and
                so you’re going to have to beat a… <b>*rolls*</b> 23. <br>
                <b>Fendor:</b> <b>*rolls*</b> I guess a 9 won’t do it. <br>
                <b>DM:</b> Yeah, it won’t. <br>
                <b>Carill:</b> Fendor, do you want this cow as a friend? <br>
                <b>Fendor:</b> Sure. <br>
                <b>Carill:</b> Can I do Animal Handling to get this cow to befriend us and get out of the field? <br>
                <b>DM:</b> I guess… give me a check for that! <br>
                <b>Carill:</b> <b>*rolls*</b> I got a 24. <br>
                <b>DM:</b> *laughing* Carill, you release a little bit of magical energy and the cow looks at you and
                immediately comes up to you and nuzzles you. As you guys walk out of the field, the cow follows you
                out. You guys successfully steal the cow! What do you guys name it? <br>
                …
            </p>
            <p>
                <b>Ariel - Level 1 Fighter:</b> <br>
                <i>Medium humanoid (half-orc), chaotic good</i> <br>
                <b>Armor Class:</b> 15, <b>Hit Points:</b> 12, <b>Speed:</b> 30 ft., <b>Proficiency:</b> +2 <br>
                <b>STR:</b> 17 <b>(+3)</b> <b>DEX:</b> 14 <b>(+2)</b> <b>CON:</b> 14 <b>(+2)</b>
                <b>INT: 10</b> <b>(+0)</b> <b>WIS:</b> 8 <b>(-1)</b> <b>CHA:</b> 12 <b>(+1)</b> <br>
                <b>Skills:</b> Acrobatics <b>(+4)</b>, Athletics <b>(+5)</b>, Intimidation <b>(+3)</b>,
                <b>Saving Throws:</b> STR, CON <br>
                <b>Senses:</b> Darkvision 60 ft., <b>passive Perception</b> 9, <b>Languages:</b> Common, Orc <br>
            </p>
            <p>
                <b>Bernard - Level 1 Wizard:</b> <br>
                <i>Medium humanoid (high elf), true neutral</i> <br>
                <b>Armor Class:</b> 12, <b>Hit Points:</b> 8, <b>Speed:</b> 30 ft., <b>Proficiency:</b> +2 <br>
                <b>STR:</b> 8 <b>(-1)</b> <b>DEX:</b> 12 <b>(+1)</b> <b>CON:</b> 15 <b>(+2)</b>
                <b>INT: 15</b> <b>(+2)</b> <b>WIS:</b> 12 <b>(+1)</b> <b>CHA:</b> 13 <b>(+1)</b> <br>
                <b>Skills:</b> Arcana <b>(+4)</b>, Insight <b>(+3)</b>, Perception <b>(+3)</b>, <b>Saving Throws:</b> INT, WIS  <br>
                <b>Resistances:</b> advantage against charms <br>
                <b>Senses:</b> Darkvision 60 ft., <b>passive Perception</b> 11, <b>Languages:</b> Common, Elvish <br>
            </p>
            <p>
                <b>Carill - Level 1 Druid</b> <br>
                <i>Medium humanoid (human), lawful good</i> <br>
                <b>Armor Class:</b> 13, <b>Hit Points:</b> 10, <b>Speed:</b> 30 ft., <b>Proficiency:</b> +2 <br>
                <b>STR:</b> 9 <b>(-1)</b> <b>DEX:</b> 14 <b>(+2)</b> <b>CON:</b> 15 <b>(+2)</b>
                <b>INT: 11</b> <b>(+0)</b> <b>WIS:</b> 16 <b>(+3)</b> <b>CHA:</b> 13 <b>(+1)</b> <br>
                <b>Skills:</b> Animal Handling <b>(+5)</b>, Nature <b>(+5)</b>, <b>Saving Throws:</b> INT, WIS <br>
                <b>passive Perception</b> 13, <b>Languages:</b> Common <br>
            </p>
            <p>
                <b>Erza - Level 1 Bard:</b> <br>
                <i>Medium humanoid (tiefling), chaotic neutral</i> <br>
                <b>Armor Class:</b> 13, <b>Hit Points:</b> 9, <b>Speed:</b> 30 ft., <b>Proficiency:</b> +2 <br>
                <b>STR:</b> 13 <b>(+1)</b> <b>DEX:</b> 10 <b>(+0)</b> <b>CON:</b> 12 <b>(+1)</b>
                <b>INT: 9</b> <b>(-1)</b> <b>WIS:</b> 14 <b>(+2)</b> <b>CHA:</b> 17 <b>(+3)</b> <br>
                <b>Skills:</b> Insight <b>(+4)</b>, Performance <b>(+5)</b>, Persuasion <b>(+5)</b>, <b>Saving Throws:</b> DEX, CHA <br>
                <b>Resistances:</b> fire <br>
                <b>Senses:</b> Darkvision 60 ft., <b>passive Perception</b> 12, <b>Languages:</b> Common, Infernal <br>
            </p>
            <p>
                <b>Fendor - Level 1 Barbarian</b> <br>
                <i>Medium humanoid (hill dwarf), lawful neutral</i> <br>
                <b>Armor Class:</b> 16, <b>Hit Points:</b> 15, <b>Speed:</b> 30 ft., <b>Proficiency:</b> +2 <br>
                <b>STR:</b> 15 <b>(+2)</b> <b>DEX:</b> 12 <b>(+1)</b> <b>CON:</b> 16 <b>(+3)</b>
                <b>INT: 8</b> <b>(-1)</b> <b>WIS:</b> 13 <b>(+1)</b> <b>CHA:</b> 10 <b>(+0)</b> <br>
                <b>Skills:</b> Athletics <b>(+4)</b>, Survival <b>(+3)</b>, <b>Saving Throws:</b> STR, CON <br>
                <b>Resistances:</b> poison, advantage on poison saves <br>
                <b>Senses:</b> Darkvision 60 ft., <b>passive Perception</b> 11, <b>Languages:</b> Common, Dwarven <br>
            </p>

    </div>

    <div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_deltopolis"><button type="button" class="btn btn-link">Back</button></a>
        </div>
    </div>


</div>



