<div class="container-fluid">
    <div>
        <p>
            <!--META CLUE: Calculus formalism (5)-->
        </p>
    </div>
    <div>
        <h3 align="center">
            Picture Imperfect
        </h3>
        <i>
            <p>
                You are attending a showing of a certain terrible July 2017 motion picture in Abstracton. The actor
                onscreen sounds out his lines. "I can't live without u. I added U at the beginning of my story, and I
                won't let U go until the end." Suddenly, the screen malfunctions, and you can't see the movie anymore -
                only a series of flashing dots. How can you fix it?
            </p>
        </i>
    </div>

    <h2 style="text-align: center;">
        &#x283C; &#x2801;
        &#x2830; &#x2820; &#x280B;
        &#x283C; &#x2819; &#x2819; &#x2801;
    </h2>
    <h2 style="text-align: center;">
        &#x283C; &#x2801;
        &#x2830; &#x2820; &#x280B;
        &#x283C; &#x2811; &#x2801;
        &#x2830; &#x2820; &#x2801;
    </h2>
    <h2 style="text-align: center;">
        &#x283C; &#x2803; &#x280B; &#x2801; &#x2811;
    </h2>
    <h2 style="text-align: center;">
        &#x283C; &#x2803; &#x280B; &#x2819; &#x2803;
    </h2>
    <h2 style="text-align: center;">
        &#x283C; &#x2801;
        &#x2830; &#x2820; &#x280B;
        &#x283C; &#x280A;
        &#x2830; &#x2820; &#x2809;
        &#x283C; &#x281A;
    </h2>
    <h2 style="text-align: center;">
        &#x283C; &#x2801;
        &#x2830; &#x2820; &#x280B;
        &#x283C; &#x2809;
        &#x2830; &#x2820; &#x280B;
        &#x283C; &#x2819;
        &#x2800;
        &#x283C; &#x2803; &#x281A; &#x281A;
        &#x2830; &#x2820; &#x2819;
        &#x2800;
        &#x283C; &#x2803; &#x280B; &#x2803; &#x281A;
        &#x2800;
        &#x2830; &#x2820; &#x280B;  &#x2811;
        &#x283C; &#x281A;
        &#x2830; &#x2820; &#x280B;
    </h2>
    <h2 style="text-align: center;">
        &#x283C; &#x2801;
        &#x2830; &#x2820; &#x280B;
        &#x283C; &#x2819; &#x2819;
        &#x2830; &#x2820; &#x2803;
    </h2>
    <h2 style="text-align: center;">
        &#x283C; &#x2801;
        &#x2830; &#x2820; &#x280B;
        &#x283C; &#x2811; &#x2801; &#x2819;
    </h2>
    <div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_abstracton"><button type="button" class="btn btn-link">Back</button></a>
        </div>
    </div>


</div>

