<div class="container-fluid">
    <div>
        <p>
            <!--META CLUE: ang dating kabisera, apat-->
        </p>
    </div>
    <div>
        <h3 align="center">
            Drawing Conclusions
        </h3>
        <i>
            <p>
                You encounter an odd-looking square grid on this lamppost, that appears to have been tampered with so
                that some squares are colored. You try to decipher all of its elements, but it seems impossible to make
                connections.
            </p>

            <p>

            </p>
        </i>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">
                <img alt="map" src="images/grid.png" class="img-responsive center-block">
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">
                <img alt="map" src="images/extr.png" class="img-responsive center-block">
            </h4>
        </div>
    </div>
    <div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_deltopolis"><button type="button" class="btn btn-link">Back</button></a>
        </div>
    </div>


</div>



