<div class="container-fluid">
    <div>
        <p>
            <!--META CLUE: Big Blue Nickname (14)-->
        </p>
    </div>
    <div>
        <h3 align="center">
            Mechanical Madness
        </h3>
        <i>
            <p> You pay a visit to the main server room in Abstracton. Looking at the diagrams and the computers,
                they seem to indicate a clue to some sort of password...
            </p>

        </i>
    </div>

    <div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">
                    <img alt="map" src="images/mech/lab.png" class="img-responsive center-block">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">
                    <img alt="map" src="images/mech/ducks.png" class="img-responsive center-block">
                    <img alt="map" src="images/mech/engine.png" class="img-responsive center-block">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">
                    <img alt="map" src="images/mech/globe.png" class="img-responsive center-block">
                    <img alt="map" src="images/mech/graph.png" class="img-responsive center-block">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">
                    <img alt="map" src="images/mech/lines.png" class="img-responsive center-block">
                    <img alt="map" src="images/mech/ox.png" class="img-responsive center-block">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">
                    <img alt="map" src="images/mech/pearl.png" class="img-responsive center-block">
                    <img alt="map" src="images/mech/penguin.png" class="img-responsive center-block">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">
                    <img alt="map" src="images/mech/shield.png" class="img-responsive center-block">
                    <img alt="map" src="images/mech/snake.png" class="img-responsive center-block">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">
                    <img alt="map" src="images/mech/unix.png" class="img-responsive center-block">
                </h4>
            </div>
        </div>
        <div style="text-align: center;">
            <p>
                lines[3] unix[7] snake[6] pearl[0] shield[0] globe[5]: &nbsp; &nbsp; engine[2] globe[1] snake[3] penguin[0] &nbsp; &nbsp; ducks[3] graph[2] shield[0] graph[7] ox[0] lines[4] globe[4] penguin[2]
            </p>
            <p>
                ducks[1] penguin[7] &nbsp; &nbsp; "graph[3] unix[1] globe[8] &nbsp; &nbsp; (unix[5] engine[6] snake[0] globe[9] ox[7])," &nbsp; &nbsp; + &nbsp; &nbsp; ducks[2]
            </p>
        </div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle_abstracton"><button type="button" class="btn btn-link">Back</button></a>
        </div>
    </div>


</div>

