<div class="container-fluid">
    <div>
        <p>

        </p>
    </div>
    <div>
        <h3 align="center">
            Abstracton Meta
        </h3>
        <i>
            <p>
                Abstractonians like big ideas and always have the right number of words for the things they want to say,
                but they often leave their plans unfinished. Maybe it's time to put on a level head, traverse through
                our findings and inspect them more closely...
            </p>

        </i>
    </div>

    <div>
        <div style="text-align: center;">
            <a href="{{prefix}}puzzle/abstracton"><button type="button" class="btn btn-link">Back</button></a>
        </div>

    </div>


</div>

