<h1>Select which contest's rankings to view</h1>
<form name="choose_contest_rank" action="{{prefix}}rankings/contest/view" method="get">
    <label for="name">Contest name</label>
    <select id="name" name="name" autofocus="autofocus">
        {{#each contestName}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
<a href="{{prefix}}rankings"><button type="button" class="btn btn-primary">Return to Rankings Selection</button></a>