<h1>Select which contest's rankings to view</h1>
<form name="choose_contest_rank" action="/vmt/rankings/contest/view" method="get">
    <label for="name">Contest name</label>
    <input class="form-control" type="text" id="name" name="name" autofocus="autofocus">
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
<a href="/vmt/rankings"><button type="button" class="btn btn-primary">Return to Rankings Selection</button></a>