<h1>NOTE: SCORES ARE FROM 2018 DUKE 1 AND ARE PURELY EXPERIMENTAL</h1>
<div class="container-fluid">
    <div class="row">
        <h3>
            View Rankings for a Contest or a Test?
        </h3>
        <a href="rankings/test"><button type="button" class="btn btn-primary">Test</button></a>
        <a href="rankings/contest"><button type="button" class="btn btn-primary">Contest</button></a>
    </div>
</div>