<section class="flex flex-col items-center justify-center pt-24">
    <h1 class="m-auto pl-4 font-adam text-5xl gradient-text text-center">Rankings</h1>
    <div id="react-container"></div>

    <script type="text/javascript" src="{{ prefix }}js/rankings.js"></script>
</section>