<div class="container-fluid">
    <h3>
        View Rankings for a Contest or a Test?
    </h3>
    <a href="{{prefix}}rankings/test"><button type="button" class="btn btn-primary">Test</button></a>
    <a href="{{prefix}}rankings/contest"><button type="button" class="btn btn-primary">Contest</button></a>
</div>