<div class="container-fluid">
    <h1>Select which test's rankings to view</h1>
    <div>
        <form name="choose_test_rank" action="{{prefix}}rankings/test/view" method="get">
            <label for="name">Test name</label>
            <select class="form-control" required id="name" name="name" autofocus="autofocus">
                {{#each testName}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <input class="btn btn-success" type="submit" value="View">
        </form>
    </div>
</div>
