<h1>Select which test's rankings to view</h1>
<form name="choose_test_rank" action="/vmt/rankings/test/view" method="get">
    <label for="name">Test name</label>
    <input class="form-control" type="text" id="name" name="name" autofocus="autofocus">
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
<a href="/vmt/rankings"><button type="button" class="btn btn-primary">Return to Rankings Selection</button></a>