<section class="flex items-center justify-center pt-24">
    <div class="text-center w-4/5">
        <h2 class="m-auto font-adam text-5xl gradient-text text-center">Register</h2>
        <form action="{{ prefix }}auth/register" method="POST">
            <input type="text" name="firstName" placeholder="First Name" required class="block m-auto mt-5 p-4 w-full text-l bg-gray-100 focus:bg-gray-200 focus:outline-none transition duration-300 ease-in-out"/>
            <input type="text" name="lastName" placeholder="Last Name" required class="block m-auto mt-5 p-4 w-full text-l bg-gray-100 focus:bg-gray-200 focus:outline-none transition duration-300 ease-in-out">
            <input type="email" name="email" placeholder="Email" required class="block m-auto mt-5 p-4 w-full text-l bg-gray-100 focus:bg-gray-200 focus:outline-none transition duration-300 ease-in-out">
            <div>
                <input type="number" name="gradYear" placeholder="Graduating Year" required class="block m-auto mt-5 p-4 w-full text-l bg-gray-100 focus:bg-gray-200 focus:outline-none transition duration-300 ease-in-out">
                <small id="gradYearErrors" class="block mt-2 text-left text-red-700 leading-none"></small>
            </div>
            <div>
                <input type="text" name="ionUsername" placeholder="ION Username" required class="block m-auto mt-5 p-4 w-full text-l bg-gray-100 focus:bg-gray-200 focus:outline-none transition duration-300 ease-in-out"> 
                <small id="ionUsernameErrors" class="block mt-2 text-left text-red-700 leading-none"></small>
            </div>
            <div>
                <input type="password" name="password" placeholder="Password" required class="block m-auto mt-5 p-4 w-full text-l bg-gray-100 focus:bg-gray-200 focus:outline-none transition duration-300 ease-in-out">
                <small id="passwordErrors" class="block mt-2 text-left text-red-700 leading-none"></small>
            </div>
            <div>
                <input type="password" name="confirmPassword" placeholder="Confirm Password" required class="block m-auto mt-5 p-4 w-full text-l bg-gray-100 focus:bg-gray-200 focus:outline-none transition duration-300 ease-in-out">
                <small id="confirmPasswordErrors" class="block mt-2 text-left text-red-700 leading-none"></small>
            </div>
            <label for="emailList" class="text-sm mt-5 block text-left"><input id="emailList" type="checkbox" name="emailList" class="mr-2"/> Add me to the email list</label> 
            <input type="submit" value="Register" class="block m-auto my-5 pt-3 pb-2 px-10 font-adam text-l rounded-full bg-white border-solid border-black border-2 hover:bg-gray-100 transition duration-300 ease-in-out"/>
        </form>
    </div>

    <script>
        {{#each errors }}
            $("#{{ param }}Errors").text("{{ msg }}");
        {{/each}}
    </script>
</section>