<div class="container-fluid">
    <form name="remove_officer_form" action="{{prefix}}remove_officer" method="post">
        <label for="username">Old officer's Ion username</label>
        <input class="form-control" type="text" id="username" name="username" autofocus="autofocus">
        <input class="btn btn-danger" type="submit" value="Remove">
    </form>
    <a href="{{prefix}}officers"><button type="button" class="btn btn-secondary">Return to Officers Page</button></a>
</div>
