<div class="container-fluid">
    <div>
        <h2>
            Thomas Jefferson Intermediate Math Open
        </h2>

        <p>
            The IMO (Intermediate Math Open) is a contest that the TJ math team holds for middle schools in the
            Washington, DC area. Schools that apply are accepted on a first-come first-served basis, and each school
            sends up to six students, but no two of them will be on the same team. We mix students up so that all teams
            are fairly even. The contest will begin with an individual round, after which students will meet in teams
            of six to eight to be coached by TJ students before the afternoon rounds. The afternoon rounds consist of a
            power round, where teams will tackle harder problems, a team round, where these teams will collaborate on a
            set of harder questions, a guts round, where the teams submit answers to sets of progressively more
            difficult questions, and an orienteering round, where students have to go around the school and answer math
            questions as they go along from room to room. The contest will be concluded with an awards ceremony where
            winners are recognized - parents are invited.
        </p>
    </div>
    <div>
        <h4>
            Registration
        </h4>

        <p>
            This year's TJ IMO will be held on <strong>the Saturday following PUMaC</strong> (the schedule
            for it has yet to be released). Registration will open in September.
        </p>
    </div>
</div>