<section class="h-screen flex items-center justify-center bg-no-repeat bg-center bg-opacity-75 bg-cover" style="background-image: url('{{ prefix }}images/tjbg_blur.jpg')">
    <div>
        <h1 class="m-auto mb-3 font-adam text-6xl text-white text-center">TJIMO</h1>
        <p class="text-center text-2xl text-white">April 24<sup>th</sup>, 2021</p>
        <p class="text-center text-xl text-white">Online</p>
        <p class="mt-3 pt-3 pb-2 px-10 font-adam text-center text-l text-white rounded-full border-solid border-white border-2 hover:bg-gray-200 hover:bg-opacity-20 transition duration-300 ease-in-out">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdGENCawkkgIoEeeC8hFYUo0N2VsDXco_rqFwn_hLBs_xy0pA/viewform?usp=sf_link">Register</a>
        </p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="white" fill="white" style="top: 95%" class="absolute top-44 animate-bounce">
        <path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/>
    </svg>
</section>
<section class="m-auto px-5 py-10 md:max-w-2/3 xl:max-w-1/2">
    <h2 class="text-3xl font-bold text-left mb-4">What is TJIMO?</h2>
    <p class="mb-10">
        The Thomas Jefferson Intermediate Math Open (TJIMO) is a contest that the Thomas Jefferson Varisty Math Team holds for middle schools in the
        Washington, DC area. Students learn a variety of problem-solving strategies from experienced VMT student coaches and apply these strategies in a mathematics competition.
        {{!-- Schools that apply are accepted on a first-come first-served basis, and each school
        sends up to six students, but no two of them will be on the same team. We mix students up so that all teams
        are fairly even. The contest will begin with an individual round, after which students will meet in teams
        of six to eight to be coached by TJ students before the afternoon rounds. The afternoon rounds consist of a
        power round, where teams will tackle harder problems, a team round, where these teams will collaborate on a
        set of harder questions, a guts round, where the teams submit answers to sets of progressively more
        difficult questions, and an orienteering round, where students have to go around the school and answer math
        questions as they go along from room to room. The contest will be concluded with an awards ceremony where
        winners are recognized - parents are invited. --}}
    </p>
    <h2 class="text-3xl font-bold text-left mb-4">How Does the Contest Work?</h2>
    <p class="mb-4">TJIMO consists of four rounds of tests that challenge students' mathematical problem solving skills. A large block of the event is dedicated to coaching,
        in which students are assigned to small groups and learn strategies from VMT student coaches. See below for more details on each round.</p>
    <ul class="mb-10 px-5 list-disc">
        <li><span class="font-bold">Individual Round</span>: The individual round is a one hour 30 problem round modeled after MATHCOUNTS' sprint round. Top scorers in the individual round
            will recieve awards at the end of the event. Scores from this round is also used to create balanced teams for the later rounds.</li>
        <li><span class="font-bold">Coaching</span>: After the individual round, students will be assigned to small groups and be coached by VMT members.
            They will be able to go over problems from the individual round and learn new strategies that will help in the team rounds later.</li>
        <li><span class="font-bold">Team and Power Rounds</span>: The team and power rounds consists of harder problems in different formats based on those seen in college math competitions.
            Students will be given sample rounds during coaching to familarize themselves with the format and learn how to write formal proofs.
        <li><span class="font-bold">Guts Round</span>: The guts round is a special team round in which students are given several consecutive sets of problems and try to solve them as fast as possible.</li>
    </ul>
    <h2 class="text-3xl font-bold text-left mb-4">FAQ</h2>
    <p class="mb-10">
        <span class="font-bold">Q</span>: Who can participate?<br/>
        <span class="font-bold">A</span>: Students from grades 6-8.<br/><br/>
        <span class="font-bold">Q</span>: Who can register?<br/>
        <span class="font-bold">A</span>: ONE math teacher or math team coordinator from each school can register students from their school to participate in TJIMO.<br/><br/>
        <span class="font-bold">Q</span>: How many students can attend from a school?<br/>
        <span class="font-bold">A</span>: Up to 6.<br/><br/>
        <span class="font-bold">Q</span>: Can I register as an individual or homeschool student?<br/>
        <span class="font-bold">A</span>: If you are homeschooled, you may register individually and indicate that you are homeschooled on the form. If you attend a public or private school, we ask that you ask your school’s math teacher/math team coordinator to register for you. Please email us at vmtofficers@gmail.com if you have any questions.<br/><br/>
        <span class="font-bold">Q</span>: What is the role of the teacher/coordinator?<br/>
        <span class="font-bold">A</span>: The role of the teacher/coordinator is simply being the link between us, the organizers, and the students - an essential role in the virtual environment. In other words, they will be responsible for making sure the students are at the right place at the right time and relaying information to students.<br/><br/>
        <span class="font-bold">Q</span>: Will students from the same school compete as a team?<br/>
        <span class="font-bold">A</span>: No, students will be assigned to teams balanced by math level during the individual round.<br/><br/>
        <span class="font-bold">Q</span>: What will students need for the competition? <br/>
        <span class="font-bold">A</span>: Pencils, paper, and a <strong>scanner/scanning app</strong>. Please email us if scanning is a problem (Recommended apps: Dropbox, CamScanner, iPhone Notes app, Adobe Scan).
    </p>
    <h2 class="text-3xl font-bold text-left mb-4">Schedule (Tentative)</h2>
    <table class="table-fixed mb-10">
        <thead>
            <th class="w-1/2 lg:w-1/3"></th>
            <th class="w-1/2 lg:w-2/3"></th>
        </thead>
        <tbody>
            <tr>
                <td class="text-left align-top font-bold px-4">8:30 a.m.</td>
                <td class="align-top pb-2">Check-in</td>
            </tr>
            <tr>
                <td class="text-left align-top font-bold px-4">9:00-10:00 a.m.</td>
                <td class="align-top pb-2">Individual Round and Team Creation</td>
            </tr>
            <tr>
                <td class="text-left align-top font-bold px-4">10:00-10:25 a.m.</td>
                <td class="align-top pb-2">Team Introductions and Indiviual Round Review</td>
            </tr>
            <tr>
                <td class="text-left align-top font-bold px-4">10:25-10:55 a.m.</td>
                <td class="align-top pb-2">Practice Power Round</td>
            </tr>
            <tr>
                <td class="text-left align-top font-bold px-4">10:55-11:10 a.m.</td>
                <td class="align-top pb-2">Practice Power Round Review</td>
            </tr>
            <tr>
                <td class="text-left align-top font-bold px-4">11:10-12:10 p.m.</td>
                <td class="align-top pb-2">Power Round</td>
            </tr>
            <tr>
                <td class="text-left align-top font-bold px-4">12:10-12:50 p.m.</td>
                <td class="align-top pb-2">Lunch</td>
            </tr>
            <tr>
                <td class="text-left align-top font-bold px-4">12:50-1:00 p.m.</td>
                <td class="align-top pb-2">Team Round Warp-Up</td>
            </tr>
            <tr>
                <td class="text-left align-top font-bold px-4">1:00-1:45 p.m.</td>
                <td class="align-top pb-2">Team Round</td>
            </tr>
            <tr>
                <td class="text-left align-top font-bold px-4">1:45-2:30 p.m.</td>
                <td class="align-top pb-2">Guts Round</td>
            </tr>
            <tr>
                <td class="text-left align-top font-bold px-4">2:30-3:00 p.m</td>
                <td class="align-top pb-2">Break</td>
            </tr>
            <tr>
                <td class="text-left align-top font-bold px-4">3:00-3:30 p.m</td>
                <td class="align-top pb-2">Awards</td>
            </tr>
        </tbody>
    </table>
    <h2 class="text-3xl font-bold text-left mb-4">Registration</h2>
    <p class="mb-4">
        Because space is limited, each school may send up to six students to participate in TJIMO.
        Each participating school must also send one teacher/staff member to help with management aspects of the
        competition. This adult must be available during the entire event in case a student from the school becomes
        ill or is otherwise in need of special assistance. (Remember that each teacher chaperone should carry
        emergency care information for each participant.) In the past, we have asked teachers to help with proctoring and scoring the rounds throughout the day, 
        but this year, since the event is online, teacher responsibilities less - just making sure their kids are at the right font-bold px-4 place at the right foalign-top nt-bold px-4 time.
    </p>
    <p class="mb-4">
        We want to involve a balance of students in TJIMO: 7th and 8th graders, boys and girls,
        honors/advanced and non-honors, experienced math competitors and newcomers. We will accept
        students in math classes no higher than Geometry. Please try to send a diverse group. Also, participating students must be able to stay for
        the entire contest. The registration link is below.
    </p>
    <p class="m-auto mt-3 pt-3 pb-2 px-10 w-1/2 font-adam text-center text-l text-black rounded-full border-solid border-black border-2 bg-white hover:bg-gray-100 transition duration-300 ease-in-out">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdGENCawkkgIoEeeC8hFYUo0N2VsDXco_rqFwn_hLBs_xy0pA/viewform?usp=sf_link">Register</a>
    </p>
</section>