<section class="flex justify-center pt-40">
    <div>
        <img src="{{ prefix }}images/logo.png" alt="VMT Logo" class="block m-auto my-8 w-1/5">
        <p class="text-center text-xl">Website currently under construction - this page is coming soon! <br\> <a href="{{ prefix }}" class="text-blue-500 hover:underline">Click Here to return to the homepage</a>.</p>
    </div>
</section>