<h1>Select which contest to update</h1>
<form name="add_contest_form_test" action="/contest/update/test/add" method="get">
    <label for="name">Contest name</label>
    <input class="form-control" type="text" id="name" name="name" autofocus="autofocus">
    <input class="btn btn-primary" type="submit" value="Submit">
</form>