<div class="container-fluid">
    <h1>Enter contest name</h1>
    <form name="update_indices_form_contest" action="{{prefix}}contest/update/indices" method="post">
        <label for="contestName">Name of contest</label>
        <select class="form-control" required id="contestName" name="contestName" autofocus="autofocus">
            {{#each contestName}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <input class="btn btn-success" type="submit" value="Update">
    </form>
    <a href="{{prefix}}officers"><button type="button" class="btn btn-secondary">Return to Officers Page</button></a>
</div>
