<h1>Select which test to add scores to</h1>
<form name="add_score_form_test" action="/vmt/test/update/score" method="post">
    <label for="name">Test name</label>
    <input class="form-control" type="text" id="name" name="name" autofocus="autofocus">
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
<a href="/vmt/officers"><button type="button" class="btn btn-primary">Return to Officers Page</button></a>