<h1>Input information</h1>
<form name="add_score_form" action="/test/update/score/add/?name={{query.name}}" method="post">
    <label for="username">Ion username of student</label>
    <input class="form-control" type="text" required id="username" name="username" autofocus="autofocus">
    <label for="scoreVal">Score of student (integer)</label>
    <input class="form-control" type="number" required min="0" value="0" id="scoreVal" name="scoreVal">
    <label for="scoreDist">Score distribution of student (e.g. 101110)</label>
    <input class="form-control" type="text" required id="scoreDist" name="scoreDist">
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
<a href="/officers"><button type="button" class="btn btn-primary">Return to Officers Page</button></a>