<h1>Input the test weighting</h1>
<form name="add_contest_form_test" action="/contest/update/test/add?{{query}}" method="post">
    <label for="testName">Name of test</label>
    <input class="form-control" type="text" required id="testName" name="testName" autofocus="autofocus">
    <label for="testWeight">Weighting of test (as a decimal to the nearest hundredth)</label>
    <input class="form-control" type="number" required min="0" value="0" step="0.01" id="testWeight" name="testWeight">
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
<a href="/officers"><button type="button" class="btn btn-primary">Return to Officers Page</button></a>