<div class="container-fluid">
    <h1>Input information</h1>
    <form name="add_arml_relay_score_form" action="{{prefix}}test/arml/update/relay/add" method="post">
        <label for="name">Test name</label>
        <select class="form-control" required id="name" name="name" autofocus="autofocus">
            {{#each testName}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <label for="relayName">Relay name</label>
        <input class="form-control" type="text" required id="relayName" name="relayName">
        <label for="usernames">Ion usernames of students (separated by a single comma)</label>
        <input class="form-control" type="text" required id="usernames" name="usernames">
        <label for="scoreVal">Score of relay (integer)</label>
        <input class="form-control" type="number" required min="0" value="0" id="scoreVal" name="scoreVal">
        <label for="scoreDist">Score distribution of relay (e.g. 35)</label>
        <input class="form-control" type="text" required id="scoreDist" name="scoreDist">
        <input class="btn btn-success" type="submit" value="Submit">
    </form>
    <a href="{{prefix}}officers"><button type="button" class="btn btn-secondary">Return to Officers Page</button></a>
</div>
