<div class="container-fluid">
    <h1>Input information</h1>
    <form name="add_arml_team_form" action="{{prefix}}armltest/update/team/add" method="post">
        <label for="name">ARML Test name</label>
        <select class="form-control" required id="name" name="name" autofocus="autofocus">
            {{#each testName}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <label for="teamname">Team name</label>
        <input class="form-control" type="text" required id="teamname" name="teamname" autofocus="autofocus">
        <label for="members">Ion usernames of members (separated by a single comma)</label>
        <input class="form-control" type="text" required id="members" name="members">
        <label for="scoreVal">Score of team (integer)</label>
        <input class="form-control" type="number" required min="0" value="0" id="scoreVal" name="scoreVal">
        <label for="scoreDist">Score distribution of team (e.g. 1011100100)</label>
        <input class="form-control" type="text" required id="scoreDist" name="scoreDist">
        <input class="btn btn-success" type="submit" value="Submit">
    </form>
    <a href="{{prefix}}officers"><button type="button" class="btn btn-secondary">Return to Officers Page</button></a>
</div>
