<form action="/user/create/{{user.id}}" method="post">
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
    </div>
</form>