<body>
<div class="row">
    <h1>
        Hello
    </h1>
</div>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                {{#each users}}
                    <li class="list-group-item">{{name}} {{gradYear}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</body>