<body>
<div class="row">
    <h1>
        {{user.name}}
    </h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>Data</h4>
        <dl>
            <dt>Email</dt>
            <dd>{{user.email}}</dd>
            <dt>Graduation Year</dt>
            <dd>{{user.gradYear}}</dd>
        </dl>
    </div>
</div>
</body>

