<style>
    hr.foot {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 4px;
    }
</style>

<hr class="foot">
<div class="container-fluid">
    <div id="footer">
        <h4>
            <a href="mailto:vmtofficers@gmail.com">VMT Officers</a>
        </h4>
        <p> Captain: Michael Huang</p>
        <p> Co-Captains: Neeyanth Kopparapu and Bryan Lu</p>
        <p> Statisticians: Derek Dong and Ajit Kadaveru</p>
        <p> Finance Officers: Garrett Heller and Zia Sun</p>
        <p> Secretary: Andrew Kim</p>
    </div>
    <p style="font-size:12px"> If you have any problems with the website, please email the officers or the statisticians. </p>
</div>