<style>
    hr.foot {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 4px;
    }
</style>

<hr class="foot">
<div class="container-fluid">
    <div id="footer">
        <h4>
            <a href="mailto:vmtofficers@gmail.com">VMT Officers</a>
        </h4>
        <p> Captain: <a href="michael23.huang@gmail.com">Michael Huang</a></p>
        <p> Co-Captains: <a href="neeyanthkvk@gmail.com">Neeyanth Kopparapu</a> and <a href="bryan.lu3@gmail.com">Bryan Lu</a></p>
        <p> Statisticians: <a href="philip623.derek@gmail.com">Derek Dong</a> and <a href="ajitkadaveru@yahoo.com">Ajit Kadaveru</a></p>
        <p> Finance Officers: <a href="garrett31415@gmail.com">Garrett Heller</a> and <a href="ziasun23@gmail.com">Zia Sun</a></p>
        <p> Secretary: <a href="andrewkim12312@gmail.com">Andrew Kim</a></p>
    </div>
    <p style="font-size:12px"> If you have any problems with the website, please email the officers or the statisticians. </p>
</div>