<style>
    hr.foot {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 4px;
    }
</style>

<hr class="foot">
<div class="container-fluid">
    <div id="footer">
        <h4>
            <a href="mailto:vmtofficers@gmail.com">VMT Officers</a>
        </h4>
        <p> Captain: <a href="mailto:2020mhuang@tjhsst.edu">Michael Huang</a></p>
        <p> Co-Captains: <a href="mailto:2020nkoppara@tjhsst.edu">Neeyanth Kopparapu</a> and <a href="mailto:2020blu@tjhsst.edu">Bryan Lu</a></p>
        <p> Statisticians: <a href="mailto:2021ddong@tjhsst.edu">Derek Dong</a> and <a href="mailto:2020akadaver@tjhsst.edu">Ajit Kadaveru</a></p>
        <p> Finance Officers: <a href="mailto:2022gheller@tjhsst.edu">Garrett Heller</a> and <a href="mailto:2021esun@tjhsst.edu">Zia Sun</a></p>
        <p> Secretary: <a href="mailto:2022akim@tjhsst.edu">Andrew Kim</a></p>
    </div>
    <p style="font-size:12px"> If you have any problems with the website, please email the officers or the statisticians. </p>
</div>