<style>
    hr {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 4px;
    }
</style>

<hr>

<div id="footer">
    <h4>
        <a href="mailto:vmtofficers@gmail.com">VMT Officers</a>
    </h4>
    <p> Captain: Michael Huang</p>
    <p> Co-Captains: Neeyanth Kopparapu and Bryan Lu</p>
    <p> Statisticians: Derek Dong and Ajit Kadaveru</p>
    <p> Finance Officers: Garrett Heller and Zia Sun</p>
    <p> Secretary: Andrew Kim</p>
</div>
<p style="font-size:12px"> If you have any problems with the website, please email the officers or the statisticians. </p>
<!--
	<p><font "size=1"> Captain: <a href="mailto:2018akadaver@tjhsst.edu">Akshaj Kadaveru</a> </font></p>
	<p style="font-size:3px"> Co-Captains: <a href="mailto:jeffery08356@gmail.com">Jeffery Yu</a> and <a href="mailto:jleey2k@gmail.com">Joshua Lee</a> </p>
	<p style="font-size:3px"> Statisticians: <a href="mailto:katherine.y.cheng@gmail.com">Katherine Cheng</a> and <a href="mailto:ryan.k.347@gmail.com">Ryan Kim</a> </p>
	<p style="font-size:3px"> Finance officers: <a href="mailto:wendyqq2000@gmail.com">Wendy Yin</a>, <a href="mailto:mzyang2018@gmail.com">Michael Yang</a>, <a href="mailto:kyle@gatesman.org">Kyle Gatesman</a>, and <a href="mailto:neeyanthkvk@gmail.com">Neeyanth Kopparapu</a> </p>
	<p style="font-size:3px"> Secretary: <a href="mailto:ruiran0326@gmail.com">Ruiran Xun</a>
-->
