<style>
    ul.nav{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    ul.nav li {
        float: left;
    }

    ul.nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    ul.nav li a:hover {
        background-color: #111;
    }

    h1 {text-align: center}

</style>
<ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="about">About</a></li>
    <li><a href="calendar">Schedule</a></li>
    <li><a href="rankings">Rankings</a></li>
    <li><a href="archive">Archive</a></li>
    <li><a href="tjimo">TJIMO</a></li>
</ul>
