<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--  Standard bootstrap  -->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<!--  Bootswatch sandstone theme -->
<link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">
<!--  Custom styles  -->
<link rel="stylesheet" href="../../static/css/style.css">
<title>{{ metaTags.title }}</title>

</head>

<body>
    <div id="header">
        {{> header}}
    </div>

    <div id="flash notifications" >
        {{{ flash }}}
    </div>

    <div id="body">
        {{{body}}}
    </div>

    <div id="footer">
        {{> footer }}
    </div>
    <!--<script src="bootstrap-autocomplete.min.js"></script>-->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>

</html>