<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!--  Default minimum bootstrap v.4.3.1  -->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/css/mdb.min.css" rel="stylesheet">
    <!--  Custom styles  -->
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>{{ metaTags.title }}</title>
</head>

<body>
<div id="header">
    {{> header}}
</div>

<div id="flash notifications" >
    {{{ flash }}}
</div>

<div id="body">
    {{{body}}}
</div>

<div id="footer">
    {{> footer }}
</div>
<!--<script src="bootstrap-autocomplete.min.js"></script>-->
<!-- JQuery -->
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>
</body>

</html>