<!HTML>
<html>
<head>
    <title>Shorten your URLs!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .centered {
            margin-top: 30vh;
            width: 50vw;
        }
    </style>
</head>
<body>
<div class="text-center">
    <div class="align-middle centered d-inline-block">
        {{{body}}}
    </div>
</div>
</body>
</html>